/*fix skinny screen*/

body {
  width: auto;
  font-family: "Montserrat";
  margin: 0 auto;
  box-sizing: border-box;
}
a, .navwrap a, .righttext a {
  text-decoration: none;
}
header {
  background-color: #73a121;
  padding: 15px 0px 10px 0px;
}
header h1, .righttext p, .banner4navs {
  margin: 0;
}
.headtitle {
  width: 970px;
  margin: auto;
  font-family: "Oswald";
}
.logodiv {
  height: 72px;
  width: 70px;
  float: left;
}
.logoimage {
  height: 95%;
  margin: auto;
}
.sol {
  font-size: 24px;
  line-height: 1.5;
}
#sol-style, .bannertext p, .lefttext p, .lefttext h3, .lefttext li, .quote-form p, {
  color: #5C5C5C;
}

.lefttext a:hover, .contact-button:hover, .hofert h3:hover {
  background-color: #5C5C5C;
}
.nav {
  width: 860px;
  height: 40px;
  margin: 0 auto;
  margin-top: 25px;
}
.navwrap {
  width: 860px;
  margin: 0 auto;
  height: 45px;
}
.navwrap a {
  color: #2e2e2e;
}
.navlink {
  width: 160px;
  height: 40px;
  margin: 0px 5px 6px 5px;
  float: left;
}
.navlink:hover, .lefttext h2, .lefttext a, .sol h1, .quote h2, .donate h2, .support-troops h2, .thanks h1, .emailResponse h1 {
  color: #a0ce4e;
}

.navlink p {
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 100%;
}

hr {
  height: .4rem;
  width: 160px;
  margin: 5px;
  background: #a0ce4e;
  border: none;
  transition: .5s ease-in-out;
  position: relative;
  top: -10px;
}

.nav1:hover ~ hr {
	left:0px;
}

.nav2:hover ~ hr {
	left:170px;
}

.nav3:hover ~ hr {
	left:340px;
}

.nav4:hover ~ hr {
	left:510px;
}

.nav5:hover ~ hr {
	left:680px;
}

.spacer {
  background-color: #fff;
  height: 1px;
  width: 100%;
  clear: both;
}
.banner4navs, .lefttext h3 {
  background-color: #e6e6e6;
}
.banner4navs-text, .main {
  width: 960px;
  margin: auto;
}
.banner4navs-text h1 {
  color: #2e2e2e;
  font-weight: normal;
  font-size: 32px;
  padding: 15px;
  margin: 0;
}
.home-bannerblock {
  background-color: rgba(230, 230, 230, 0.74);
  width: 29%;
  height: 315px;
  float: left;
  margin: 10px;
}
.bannerblock {
  width: 100%;
  height: 315px;
  float: left;
}
.roundwrap {
  height: 80px;
  width: 100%;
}
.round {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background-color: #2e2e2e;
  margin: auto;
  margin-top: 30px;
}
.round:hover {
  background-color: #a0ce4e;
}
.symbol {
  height: 50px;
  width: 50px;
  padding-top: 12px;
  padding-left: 2px;
  margin: auto;
}
.symbol svg {
  fill: #fff;
}
.bannertext {
  text-align: center;
  margin: 0;
}
.bannertext h1 {
  font-size: 22px;
  font-weight: normal;
}
.bannertext p {
  font-size: 14px;
  padding: 15px 20px 15px 20px;
}
.left-side {
  width: 580px;
  border-right: 1px solid #e6e6e6;
  padding: 30px 35px 40px 15px;
  float: left;
}
.leftpic1, .leftpic2, .leftpic3, .leftpic4, .leftpic5, .leftpic6 {
  height: 350px;
  width: 580px;
  background-size: cover;
}
.leftpic1 {
  background-image: url("../images/IMG_1065.JPG");
}
.leftpic2 {
  background-image: url("../images/Jenny.jpg");
}
.leftpic3 {
  background-image: url("../images/Jackson.jpg");
}
.leftpic4 {
  background-image: url("../images/DSCF1022.JPG");
}
.leftpic5 {
  background-image: url("../images/DSCF1025.JPG")
}
.lefttext h1 {
  color: #676767;
  font-size: 24px;
  text-align: center;
  font-weight: normal;
}
.lefttext h2, .lefttext a, .quote h2, .donate h2, .support-troops h2, .emailResponse h1 {
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;

}
.lefttext p, .lefttext h3, .lefttext li, .quote-form p {
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
}

.lefttext h2, .lefttext p{
  text-align: justify;
}

.lefttext h3 {
  text-align: center;
}
.right-side {
  width: 290px;
  float: left;
  margin-left: 0;
}
.righttext {
  width: 290px;
  height: 55px;
  float: left;
  margin: auto;
}
.righttext p {
  font-size: 16px;
  text-align: center;
  padding: 16px;
}
.contact-button {
  height: 100%;
  width: 240px;
  margin: auto;
  color: #fff;
  background-color: #a0ce4e;
}
.quote-form input, .quote-form textarea {
  width: 580px;
  border-radius: 5px;
  font-family: "Montserrat";
  border: 2px inset #eeeeee;
  outline: none;
}
.quote-form input {
  height: 30px;
  width: 576px;
}
.quote-form textarea {
  overflow: auto;
  height: 130px;
  width: 572px;
}
.quote-form {
  margin-left: 5px;
}
.quote-form button {
  margin-top: 20px;
  font-family: "Montserrat";
  padding: 5px;
  width: 75px;
  border-radius: 5px;
  color: #333333;
  cursor: pointer;
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
}
footer {
  background-color: #2e2e2e;
  color: #8A8A8A;
  font-size: 14px;
  height: 100px;
  clear: both;
}
.footwrap {
  height: 100%;
  width: 960px;
  margin: auto;
}
.copyright {
  padding-top: 25px;
  padding-left: 10px;
  width: 630px;
  margin: auto;
  float: left;
}
.support-troops {
  text-align: center;
  width: 290px;
}
.support-troops img {
  width: 150px;
  margin-top: 50px;
}
.banner {
  background-image: url("../images/IMG_0551.JPG");
  background-size: cover;
  height: 550px;
  margin-top: 15px;
}
.bannerwrap {
  width: 940px;
  height: 316px;
  margin: auto;
  padding-top: 100px;
}
.midline {
  background-color: #a0ce4e;
  margin-top: 30px;
  margin-bottom: 30px;
  height: 120px;
}
.midwrap {
  width: 960px;
  height: 100%;
  margin: auto;
}
.home-lefttext {
  width: 620px;
  float: left;
  margin-left: 10px;
}
.home-lefttext h1 {
  font-weight: normal;
  font-size: 32px;
  margin-bottom: 0;
}
.home-lefttext p {
  font-size: 20px;
  color: #fff;
  margin-top: 8px;
}
.home-righttext {
  padding: 30px;
}
.bottominfo {
  height: 430px;
}
.bottominfo-wrap {
  width: 960px;
  height: 430px;
  margin: auto;
}
.bottominfo-left {
  width: 450px;
  height: 400px;
  padding: 10px;
  float: left;
}
.piconbottom {
  width: 460px;
  height: 285px;
  background-image: url("../images/IMG_1532.JPG");
  background-size: cover;
  margin: auto;
}
.service-link {
  width: 460px;
  height: 46px;
  color: #fff;
  margin: auto;
}
.service-button {
  height: 100%;
  width: 100%;
  color: #fff;
  background-color: #a0ce4e;
}
.service-button:hover {
  background-color: #5C5C5C;
}
.service-button p {
  padding: 14px;
  font-size: 16px;
  text-align: center;
}
.bottominfo-right {
  width: 425px;
  height: 400px;
  padding: 10px 20px;
  float: right;
}
.bottominfo-right h1 {
  color: #a0ce4e;
  font-size: 20px;
  font-weight: normal;
  line-height: 1.5;
  text-align: justify;

}
.bottominfo-right p {
  color: #5c5c5c;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.5;
  text-align: justify;
}
.hofert h3 {
  width: 580px;
}
input:required:valid, textarea:required:valid {

  background-image: url(/images/valid.png);
  background-position: right top;
  background-repeat: no-repeat;
  box-shadow: 0 0 5px #a0ce4e;
  border: 2px solid #a0ce4e;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

input:required:invalid:focus, textarea:required:invalid:focus {
  box-shadow: 0 0 5px red;
  border: 2px solid red;
  border-radius: 5px;
  transition: all .3s ease-in-out;
}

.donate {
  text-align: center;
  margin-top: 50px;
}

.or {
  background-color: #a0ce4e;
  opacity: .8;
  height: 22px;
  width: 22px;
  border-radius: 11px;
  text-align: center;
}
