<style type="text/css">
.nav5 p {
	color: #a0ce4e;
}

hr {
  left: 680px;
}

</style>

	<div class="main">
		<div class="left-side">
			<div class="leftpic6">
        <iframe src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBUtDW2kgUk1rCKcVwjQKecQIh7NwsTz-M&q=491 S Freedom Blvd, Provo, UT, United States&zoom=11" width="100%" height="100%"></iframe>
			</div>
			<div class="lefttext">
				<h2>SoL Innovations Ltd.<br>
					491 S Freedom Blvd <br>
					Provo, Utah 84601</h2>
				<p>Owner - Nick Marucci<br>
					+1 (716) 450-2362<br>
					npmarucci@sol-innovations.com</p>
				<h2>Request a free consultation today!</h2>
				<p>Please call us at +1 (716) 450-2362 Monday through Friday, 9am to 5pm, Mountain Time</p>
				<div class="or">or</div>
				<p>Email us at npmarucci@sol-innovations.com</p>
				<div class="or">or</div>
				<p>Fill out the form below</p>
      </div>
			<div class="quote-form">
				<form ng-controller="emailCtrl">
					<p>Name</p>
					<input type="text" name="name" required placeholder="First and Last Name - Company" ng-model="name">
					<p>E-mail</p>
					<input type="email" name="email" required placeholder="Enter a valid email address." ng-model="email">
					<p>Message</p>
					<textarea type="text" required placeholder="How may we help you?" ng-model="message"></textarea>
					<br>
					<button type="button" name="button" ng-click="sendEmail(name, email, message)">Submit</button>
					<email-dir responseMessage="responseMessage"></email-dir>
				</form>
			</div>
		</div>
		<div class="right-side">
			<div class="bannerblock">
				<div class="roundwrap">
					<div class="round">
						<a ui-sref="Quotation">
							<div class="symbol">
								<svg x="0" y="0" id="chat" viewBox="0 0 360 360" data-name="Chat" data-category="office" preserveAspectRatio="none">
									<path d="M201,95v-1.8c0-9.8-7.7-18.2-17.6-18.2H53.8C44,75,36,83.4,36,93.2v78.5c0,9.8,8,17.3,17.8,17.3H81v38.6l39-37.8v-73.2c0-11.5,7.9-21.6,19.4-21.6H201zM303.2,106H151.5c-11.5,0-21.5,9.9-21.5,21.4v91.8c0,11.5,10,20.8,21.5,20.8h75.5l43.1,44.6V240h33.2c11.5,0,19.8-9.3,19.8-20.8v-91.8C323,115.9,314.6,106,303.2,106z M183.3,182.9c-6.7,0-12-5.4-12-12s5.4-12,12-12c6.7,0,12,5.4,12,12S189.9,182.9,183.3,182.9z M230.3,182.9c-6.7,0-12-5.4-12-12s5.4-12,12-12c6.7,0,12,5.4,12,12S236.9,182.9,230.3,182.9z M277.3,182.9c-6.7,0-12-5.4-12-12s5.4-12,12-12s12,5.4,12,12S283.9,182.9,277.3,182.9z"></path>
								</svg>
							</div>
						</a>
					</div>
				</div>
				<div class="bannertext">
					<h1>Need A Quotation?</h1>
					<p>Simply fill out the form and we will get back to you within 48 hours.</p>
				</div>
				<div class="righttext">
					<a ui-sref="Quotation">
						<div class="contact-button">
							<p>QUOTATION FORM</p>
						</div>
					</a>
				</div>
				<div class="support-troops">
					<a href="https://supportourtroops.org/" target="_blank"><img src="../images/support troops.png"/></a>
					<h2>Help Support<br>
						Our Troops</h2>
				</div>
				<div class="donate">
						<a href="https://www.paypal.com/us/cgi-bin/webscr?cmd=_flow&SESSION=sYs03Oa0uUSV0RBlnwTGiD1e0KqInMPBYWApBBmdKcqEkIKtn1QIdt4MFhK&dispatch=5885d80a13c0db1f8e263663d3faee8d64ad11bbf4d2a5a1a0d303a50933f9b2" target="_blank">
						<img src="http://www.paypal.com/en_US/i/btn/btn_donate_LG.gif"/><br>
						</a>
						<h2>Donate to<br>
						Sol Innovations</h2>
				</div>
			</div>
		</div>
	</div>
